<%#= render partial: 'dashboard/shared/sidebar' %>

<div class="container" id="main" style="padding-top:100px;">
	<div class="row"><br/></div>
	<div class="row content-24"><i class="glyphicon glyphicon-user"></i> Customers </div>
	<div class="row"><br/></div>
	<div class="row" style="padding-left:20px;">
		<div class="col-sm-10 col-sm-offset-1 col-md-10 col-md-offset-1 col-lg-9 col-lg-offset-1" style="background: #EEBD3F;font-weight:bold;">
			View the customer details now. Once you get signup, you can add more customers
		</div>
	</div>
	<div class="row"><br/></div>
	<div class="row"><br/></div>
    <div class="row">
        <div class="col-sm-10 col-sm-offset-1 col-md-10 col-md-offset-1 col-lg-10 col-lg-offset-1">
			<table class="table table-striped table-bordered text-center">
			<thead>
			<tr>
			  <th class="text-center" style="line-height:30px;">S.No.</th>
			  <th class="text-center" style="line-height:30px;">Name</th>
			  <th class="text-center" style="line-height:30px;">Email</th>
			  <th class="text-center" style="line-height:30px;">Phone</th>
			</tr>
			</thead>
			<tbody>
				<% unless @visitor.blank? %>
					<% @visitor.each_with_index do |visitor, indx| %>
						<td><%= indx+1 %></td>
						<td><%= visitor.receiver_name %></td>
						<td><%= visitor.receiver_email %></td>
						<td><%= visitor.receiver_phone %></td>
					<% end %>
				<% end %>
			</tbody>
			</table>	
        </div>
    </div>
	<div class="row">
		<div class="col-sm-10 col-sm-offset-1 col-md-10 col-md-offset-1 col-lg-10 col-lg-offset-9">
			<%#= link_to 'Add New Customer', new_customer_path, class: "text-right" %>
			<% unless @visitor.blank? %>
				<a style='cursor: pointer; cursor: hand;' onclick="return alert('Visitors are not allowed to add more than one customer.')">Add New Customer</a>
			<% end %>
		</div>
	</div>
</div>

  	<div id="customer-div">
  		<%= render "customers/shared/new_customer" %>
 	</div>
