<div class="col-sm-12 col-md-12 col-lg-12 jumbotron" style="padding-left:0 !important; padding-right:0 !important;">
	<div class="row"><br/></div>
    <div class="row">
		<div class="col-sm-6 col-md-6 col-lg-6">
			<div class="panel" style="border-color:#F35C5F;">
				<div class="panel-heading" style="background:#F35C5F;color:#FFF;">
					<h3 class="panel-title">Watch Preview</h3>
					<span class="pull-right clickable"><i class="glyphicon glyphicon-chevron-up"></i></span>
				</div>
				<div class="panel-body" style="background:#eeeeee; text-align:center;">
			   		<% unless @visitor.blank? %>
			   			<video id='video1' width='60%' height='100%' controls poster="/photos/<%= !@visitor.poster_image_filename.blank? ? @visitor.poster_image_filename : "default-placeholder.png" %>"><source src="<%= !@visitor.blank? ? @visitor.resource_uri : "" %>" type='video/mp4'>Your browser does not support HTML5 video.</video>
			   		<% end %>
				</div>
			</div>
		</div>
		<% if current_user.blank? %>
		<div class="col-sm-6 col-md-6 col-lg-6">
			<div class="panel" style="border-color:#F35C5F;">
				<div class="panel-heading" style="background:#F35C5F;color:#FFF;">
					<h3 class="panel-title"><i class="glyphicon glyphicon-user"></i> Sign Up</h3>
					<span class="pull-right clickable"><i class="glyphicon glyphicon-chevron-up"></i></span>
				</div>
				<div class="panel-body center header-36" style="vertical-align:middle; padding:110px;background:#eeeeee;"><strong><%= link_to "Sign Up", new_user_registration_path(visitor_id: @visitor.id), style: "text-decoration: none;" %></strong></div>
		</div>
	</div>
	<% else %>
		
	<% end %>
	</div>
	<div class="row">
		<div class="col-sm-6 col-md-6 col-lg-6">
			<div class="panel" style="border-color:#F35C5F;">
				<div class="panel-heading" style="background:#F35C5F;color:#FFF;">
					<h3 class="panel-title"><a href="/video/index?visitor_id=<%= @visitor.id %>" style='cursor: pointer; cursor: hand; text-decoration:none;'><i class="glyphicon glyphicon-facetime-video"></i> Videos (1)</a></h3>
					<span class="pull-right clickable"><i class="glyphicon glyphicon-chevron-up"></i></span>
				</div>
				<div class="panel-body">
					<%= render partial: "dashboard/shared/video_pane_table", :locals => {:@visitor=>@visitor} %>
					<p style="text-align:right !important;font-size:14px;font-weight:bold;"><a href="/video/index?visitor_id=<%= @visitor.id %>" style='cursor: pointer; cursor: hand; text-decoration:underline;'>More...</a></p>
				</div>
			</div>
		</div>
		<div class="col-sm-6 col-md-6 col-lg-6">
			<div class="panel" style="border-color:#F35C5F;">
				<div class="panel-heading" style="background:#F35C5F;color:#FFF;">
					<h3 class="panel-title"><i class="glyphicon glyphicon-user"></i> <a href="/customers?visitor_id=<%= @visitor.id %>" style='cursor: pointer; cursor: hand; text-decoration:none;'> Customers (1)</a></h3>
					<span class="pull-right clickable"><i class="glyphicon glyphicon-chevron-up"></i></span>
				</div>
				<div class="panel-body">
					<%= render partial: "dashboard/shared/customer_pane_table", :locals => {:@visitor=>@visitor} %>
					<p style="text-align:right !important;font-size:14px;font-weight:bold;"><a href="/customers?visitor_id=<%= @visitor.id %>" style='cursor: pointer; cursor: hand; text-decoration:underline;'>More...</a></p>
				</div>
			</div>
		</div>
	</div>
</div>

<style>
	.clickable{
	    cursor: pointer;   
	}

	.panel-heading span {
		margin-top: -20px;
		font-size: 15px;
	}
</style>

<script>
	$(document).on('click', '.panel-heading span.clickable', function(e){
	    var $this = $(this);
		if(!$this.hasClass('panel-collapsed')) {
			$this.parents('.panel').find('.panel-body').slideUp();
			$this.addClass('panel-collapsed');
			$this.find('i').removeClass('glyphicon-chevron-up').addClass('glyphicon-chevron-down');
		} else {
			$this.parents('.panel').find('.panel-body').slideDown();
			$this.removeClass('panel-collapsed');
			$this.find('i').removeClass('glyphicon-chevron-down').addClass('glyphicon-chevron-up');
		}
	});
</script>