<!DOCTYPE html>
<html>
  <head>
    <title>KabootorMerchant</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
	<% unless mobile_device? %>
		<script src="//static.opentok.com/webrtc/v2.2/js/opentok.min.js"></script>
	<% end %>
  </head>

  <body>
	<% unless controller.controller_name == "welcome" %>
		<%= render :partial => "/layouts/shared/dashboard_nav_bar" %>
	<% else %>
		<%= render :partial => "/layouts/shared/brand_with_nav_bar" %>
	<% end %>
	<div class="wrapper container">
		<div id="f1">
			<div class="row"><br/></div>
			<%= render :partial => "/layouts/shared/flash_message" %>
		</div>
	</div>
	<%= yield %>
    <div class="row"><br/></div>
	<%= render :partial => "/layouts/shared/footer" %>

  </body>
</html>
